
input[type=button], input[type=submit], select, input[type=number]{
  padding: 5px 5px;
  margin: 1px 1px;
  cursor: pointer;
  background-color: #fff	;
  font-size:16px;
   border-radius: 4px;
}
input{width: auto;}
select{
width:170px;
 border-radius: 4px; }

#layersTable .rightalign {
	text-align:center;
}
th {
vertical-align: text-top;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}    
#results_table, #boundaryConditionsTable {
  border-spacing: 8px 0px;
}

body{
font-family: neue-haas-unica,sans-serif;
color: #495057;
font-size: 16px;
background-color: #eee;
margin:0px;	
}

  .container
{
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .layout-header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 64px;
  box-shadow: 0 1px 3px #646464;
  padding: 0 10px;
  margin: 0px;
}

.layout-header .logo, .layout-header .tool-logo
{
  height: 50px;
  max-height: 50px;
}

#languageSelect{
width:50px;
margin-right:20px;
}

/* Base styles for layout */
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.description-wrapper {
  flex: 1; /* Allows this div to grow */
  min-width: 300px; /* Adjust based on your content's needs */
}

#plots {
  flex-basis: 750px; /* Initial width of the plots container */
  /* Removed float:right; as Flexbox is handling positioning */
}

/* Media Query for narrower screens */
@media (max-width: 1024px) { /* Adjust based on when you want the layout to change */
  .content-wrapper {
    flex-direction: column;
  }

  #plots {
    order: 1; /* Moves the plots above the description but below bcs in the flow */
    width: 100%; /* Makes the plots container full width */
    display: flex;
	flex-basis:100%
  }

  #geometryPlot, #temperaturePlot {
    float: none; /* Disable floating for narrow screens */
    box-sizing: border-box; /* Ensures borders are included in width calculation */
  }
}
